.form-container{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.form-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}